### What is Pandas?

Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license. The name is derived from the term **"panel data"**, an econometrics term for data sets that include observations over multiple time periods for the same individuals.

 Wes McKinney started working on pandas in 2008 while at AQR Capital Management out of the need for a high performance, flexible tool to perform quantitative analysis on financial data. Before leaving AQR he was able to convince management to allow him to open source the library.

Another AQR employee, Chang She, joined the effort in 2012 as the second major contributor to the library. 

It is written in Python, Cython, C; and the initial release was 11th January, 2008.

Wes McKinney has been named **Benevolent dictator for life (BDFL)**, a title given to a small number of open-source software development leaders, typically project founders who retain the final say in disputes or arguments within the community.

![Wes McKinney](https://budapestbiforum.hu/2015/en/wp-content/uploads/sites/3/2015/09/eloadok-slide-1en.jpg)

### We are now going import our pandas library and also load our data

In [ ]:
import pandas as pd

## Series
A Series is a one-dimensional array-like object containing a sequence of values (of
similar types to NumPy types) and an associated array of data labels, called its index.
The simplest Series is formed from only an array of data

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

Often it will be desirable to create a Series with an index identifying each data point
with a label

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

We can choose to create a list with the index names we intend to use in our Series

In [ ]:
ind = ['aleph', 'beth', 'gimel', 'dalet']

In [ ]:
obj3 = pd.Series([-13, 0, 34, 55], index = ind)
obj3

Let us convert a python dictionary into a pandas series

In [ ]:
reg_voters = {'North Central': 10586965, 'North East': 9929015, 'North West': 18505984,
              'South East': 8293093, 'South South' : 11101093, 'South West' : 14626800}
reg_voters

We now convert the dictionary 'reg_voters' into a pandas series

In [ ]:
obj4 = pd.Series(reg_voters)
obj4

In [ ]:
type(obj4)

### DataFrame
A DataFrame represents a rectangular table of data and contains an ordered collec‚Äê
tion of columns, each of which can be a different value type (numeric, string,
boolean, etc.). The DataFrame has both a row and column index; it can be thought of
as a dictionary of Series all sharing the same index.

We will create a dictionary for the minimum and maximum temperatures for the city of Abuja across the months.

In [ ]:
data = {'Month' : ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
       'Min Temp (C)' : [20, 26, 24, 25, 20, 18, 22, 18,18, 21, 16, 16],
       'Max Temp (C)' : [35, 37, 37, 36, 33, 31,29, 29, 30, 32, 34, 35]}

data

We now convert the created dictionary into a DataFrame

In [ ]:
df = pd.DataFrame(data)
df

we can also try to create a list of index terms to use in our DataFrame.

In [ ]:
my_index=['alif', 'baa', 'taa', 'thaa', 'jiim', 'haa', 'kha', 'daal', 'thaal', 'raa', 'zaay', 'siin']

In [ ]:
df1 = pd.DataFrame(data, index=my_index)
df1

we can choose to use a column as our index for instance the 'month' column in this case

In [ ]:
df.set_index('Month', inplace=True)
df

### Loading data from a file

Our file is a "tab-separated" file (or tsv) instead of a "comma-separated" file (or csv). we need to set the "delimiter" attribute to indicate that as it is not the default setting.

We now get a variable and save the file in it.

In [ ]:
# load data
gap = pd.read_csv('gapminder.tsv',delimiter ='\t')

We want to use different ways to view the files.

In [ ]:
# to view the first top 5 entries 
gap.head()

In [ ]:
# to view the last bottom 5 entries 
gap.tail()

In [ ]:
#to view all at once
gap

In [ ]:
# to see the total number of entries or rows
print(len(gap))

We may want to visualize all the entries. We can write a function to help us do so.

In [ ]:
def display_all(df):
    with pd.option_context("display.max_rows", 14000, "display.max_columns", 1000): 
        display(df)

In [ ]:
display_all(gap)

In [ ]:
type(gap)

In [ ]:
gap.shape

In [ ]:
gap.info()

In [ ]:
gap.head(0)

In [ ]:
country = gap['country']
country.head()

In [ ]:
continent = gap['continent']
continent.head()

In [ ]:
gap[["country","continent", "year", "lifeExp"]].head()

In [ ]:
# use the attribute 'columns' to get the column names or headers
gap.columns

In [ ]:
# to delete a column 'country'
del gap['country']

In [ ]:
gap.head()

In [ ]:
# we can delete a column using the 'drop' mathod
gap = gap.drop('continent', axis=1) # default axis is set to '0' for rows but we set it to '1' for columns
gap.head()

In [ ]:
# we can drop columns without assignment using 'inplace'
gap.drop('pop', axis=1,inplace=True)
gap.head()

We can also load a dataframe from a url. In this case, we want to see drinks by country

In [ ]:
path = 'http://bit.ly/drinksbycountry'

 Introducing the **f-string** formatting.

In [ ]:
drinks = pd.read_csv(f'{path}')

Also called **‚Äúformatted string literals,‚Äù** f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values (in our case above, **f'{path}'**).  You can go to this [link](https://realpython.com/python-f-strings/) to read more.

In [ ]:
drinks.head()

### HomeWork
You may use this new data on 'DrinksByCountry' and make the same manipulations we did using the 'GapMinder' data we used initially.

### To subset rows using 'loc' and 'iloc'

our dataset is messed up. lets reload it again like we did in the begining

In [ ]:
df

In [ ]:
# 'loc'
df.loc['Feb']

In [ ]:
type(df.loc['Feb'])

In [ ]:
type(df)

In [ ]:
df.loc['Dec']

In [ ]:
# 'iloc'
df.iloc[0]

In [ ]:
df.iloc[-1]

In [ ]:
df.loc[['Jan','Mar','Aug']]

In [ ]:
df.loc[['Jan','Mar','Aug'],'Min Temp (C)']

In [ ]:
df.iloc[[0, 4, 9],1]

'loc' deals with labels and locations of our row and column entries while 'iloc' deals with the index or number locations of our row and column entries

#### Boolean subsetting

In [ ]:
# reload the gap data
gap = pd.read_csv('gapminder.tsv',delimiter ='\t')

In [ ]:
# lets find the mean of a subset 'lifeExp'
leMean = gap['lifeExp'].mean()
leMean

In [ ]:
gap.loc[gap['lifeExp']>leMean, :].tail(10)

In [ ]:
gap.loc[(gap.continent == 'Africa'), ['country', 'lifeExp', 'gdpPercap']].head()

In [ ]:
gap.loc[(gap.continent == 'Africa'), :].head()

In [ ]:
Naija = gap.loc[(gap.country == 'Nigeria'), :]
Naija

### Groupby or 'Split', 'Apply', and 'Combine'

In [ ]:
grpGap_country = gap.groupby('country')
grpGap_country

In [ ]:
grpGap_country.get_group('Nigeria')

In [ ]:
gap.groupby('year')['lifeExp'].mean().reset_index()

In [ ]:
aveLE = gap1.groupby('country')['lifeExp'].mean().reset_index()
aveLE.head()

we use 'reset_index' to flatten the dataset and also to convert a pandas series to a pandas data frame

In [ ]:
avePerCoun = gap.groupby('country')[['lifeExp', 'gdpPercap']].mean()

In [ ]:
avePerCoun.reset_index().head()

In [ ]:
gap.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean().reset_index().head()

In [ ]:
# method 'nunique' shows unique elements
gap.groupby('continent')['country'].nunique().reset_index()

### Lets plot some stuff
##### 'Groupby Year & Life Expectancy' or 'gyle'

In [ ]:
#lets plot some lines
import matplotlib.pyplot as plt
%matplotlib inline
gyle = gap.groupby('year')['lifeExp'].mean()
gyle.plot()

In [ ]:
type(gyle)

In [ ]:
# convert back from a series to dataframe
gyLE = gyle.reset_index()

gyLE

In [ ]:
gyLE.to_csv('LifeExp_by_year.csv', index=False)